

    <div class="middle_location " style="background-color: rgb(192, 189, 183);">
  
        <div class="container mx-2 my-2">
          <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3">
              <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              </a>
              <p class="text-muted">© 2022</p>
            </div>
        
            <div class="col mb-3">
        
            </div>

            <div class="col mb-3">
              <h5>About</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="index.html" class="nav-link p-1 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">About</a></li>
              </ul>
            </div>
        
            <div class="col mb-3">
              <h4>Link</h4>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="index.html" class="nav-link p-1 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">About</a></li>
              </ul>
            </div>
        
            <div class="col mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="index.html" class="nav-link p-1 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-muted">About</a></li>
              </ul>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>