{% extends 'base.html' %}

{% block content %}
  
         
        
      <!-- crousel-->
      <div class="crousel">
    
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="/static/img/image3.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="/static/img/image2.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/static/img/image.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
      </div>
      <!-- learning-->

      <div class="secure">
        


      </div>


      <div class="Description">

        <table>
           
          <tr>
            <td>
              <article>
                <h1>Google Chrome</h1>
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
              </article>
              
              </td>
           <td>
            <article>
              <h1>Google Chrome</h1>
              <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
            </article>
            
      </td>
            <td> 
              
              <article>
                <h1>Google Chrome</h1>
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
              </article>
              
            
              </td>
          </tr>
          <tr>
            <td>
              
              <article>
                <h1>Google Chrome</h1>
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
              </article>
              
          </td>
           <td>
            
            <article>
              <h1>Google Chrome</h1>
              <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
            </article>
            
          
         </td>
            <td>
              <article>
                <h1>Google Chrome</h1>
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
              </article>
              
            
            </td>
          </tr>
       <table>

      



{% endblock %}